<div class="mobile-menu">
  <ul class="mobile-menu__list">
    <li class="mobile-menu__item">
      <a class="mobile-menu__link mobile-menu__link--active" href="#">
        <svg class="mobile-menu__icon mobile-menu__icon--stroke">
          <use xlink:href='img/sprite/sprite.svg#main'></use>
        </svg>
        <span>Главная</span>
      </a>
    </li>
    <li class="mobile-menu__item" id="catalog">
      <button class="mobile-menu__link">
        <svg class="mobile-menu__icon mobile-menu__icon--fill">
          <use xlink:href='img/sprite/sprite.svg#catalog'></use>
        </svg>
        <span>Каталог</span>
      </button>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#">
        <svg class="mobile-menu__icon mobile-menu__icon--fill">
          <use xlink:href='img/sprite/sprite.svg#cart'></use>
        </svg>
        <span>Корзина</span>
      </a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#">
        <svg class="mobile-menu__icon mobile-menu__icon--fill">
          <use xlink:href='img/sprite/sprite.svg#favorites'></use>
        </svg>
        <span>Избранное</span>
      </a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#">
        <svg class="mobile-menu__icon mobile-menu__icon--stroke">
          <use xlink:href='img/sprite/sprite.svg#user'></use>
        </svg>
        <span>Профиль</span>
      </a>
    </li>
  </ul>
</div>