<header class="header">
  <div class="header__container">
    <div class="header__top">
      <div class='container'>
        <div class="header__top-inner">
          <div class="header__top-numbers top-numbers">
            <svg class="top-numbers__icon">
              <use xlink:href='img/sprite/sprite.svg#phone'></use>
            </svg>
            <div class="top-numbers__body">
              <a class="top-numbers__value" href="tel:78005055461">+7 (800) 505-54-61</a>
            </div>
          </div>
          <ul class="header__top-social top-social">
            <li class="top-social__item">
              <a class="top-social__link" href="#">
                <svg class="top-social__icon top-social__icon--wp">
                  <use xlink:href='img/sprite/sprite.svg#whatsapp'></use>
                </svg>
              </a>
            </li>
            <li class="top-social__item">
              <a class="top-social__link" href="#">
                <svg class="top-social__icon">
                  <use xlink:href='img/sprite/sprite.svg#telegram'></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="header__top-address top-address">
            <svg class="top-address__icon">
              <use xlink:href='img/sprite/sprite.svg#location'></use>
            </svg>
            <a target="blank" class="top-address__link" href="https://goo.gl/maps/XvV83fEoQR2AW9VP8">Грозный, ул, Г.Н
              Трошева 52/2</a>
          </div>
        </div>
      </div>
    </div>
    <div class="header__main">
      <div class='container'>
        <div class="header__main-inner">
          <div class="header__main-left">
            <a class="logo" href="#">Kazbek</a>
            <button class="catalog-spoiler">
              <span>Каталог</span>
              <svg class="catalog-spoiler__icon">
                <use xlink:href='img/sprite/sprite.svg#chevron-down'></use>
              </svg>
            </button>
          </div>
          <div class="header__search search">
            <div class="search-form">
              <form class="search-form__item" action="#">
                <input class="search-form__input" type="text" placeholder="Искать по сайту">
                <button class="search-form__btn">
                  <svg>
                    <use xlink:href='img/sprite/sprite.svg#search'></use>
                  </svg>
                </button>
              </form>
            </div>
          </div>
          <div class="header__actions actions-header">
            <a class="actions-header__item actions-header__item--favorites" href="#">
              <span>Избранное</span>
              <svg>
                <use xlink:href='img/sprite/sprite.svg#favorites'></use>
              </svg>
            </a>
            <a class="actions-header__item cart-header" href="#">
              <span>Корзина</span>
              <svg class="cart-header__icon">
                <use xlink:href='img/sprite/sprite.svg#cart'></use>
              </svg>
              <div class="cart-header__body">
                <ul class="cart-header__list"></ul>
              </div>
            </a>
            <a class="actions-header__user" href="#">
              <svg>
                <use xlink:href='img/sprite/sprite.svg#user'></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>