<section class="homepage">
  <div class="container">
    <div class="page-grid">
      <div class="catalog">
        <ul class="catalog-list">
          <li class="catalog-list__item">
            <div class="catalog-list__img">
              <svg class="catalog-list__icon">
                <use xlink:href='img/sprite/sprite.svg#refrigerator'></use>
              </svg>
            </div>
            <div class="catalog-list__info">
              <a class="catalog-list__link" href="#">Холодильники</a>
              <div class="catalog-list__sublinks">
                <a class="catalog-list__sublink" href="#">морозильники</a>
              </div>
            </div>
          </li>
          <li class="catalog-list__item">
            <div class="catalog-list__img">
              <svg class="catalog-list__icon">
                <use xlink:href='img/sprite/sprite.svg#tv'></use>
              </svg>
            </div>
            <div class="catalog-list__info">
              <a class="catalog-list__link" href="#">Телевизоры</a>
              <div class="catalog-list__sublinks">
                <a class="catalog-list__sublink" href="#">подставки</a>
              </div>
            </div>
          </li>
          <li class="catalog-list__item">
            <div class="catalog-list__img">
              <svg class="catalog-list__icon">
                <use xlink:href='img/sprite/sprite.svg#'></use>
              </svg>
            </div>
            <div class="catalog-list__info">
              <a class="catalog-list__link" href="#">Варочные панели</a>
              <div class="catalog-list__sublinks">
                <a class="catalog-list__sublink" href="#">электрические</a>
                <a class="catalog-list__sublink" href="#">газовые</a>
              </div>
            </div>
          </li>
          <li class="catalog-list__item">
            <div class="catalog-list__img">
              <svg class="catalog-list__icon">
                <use xlink:href='img/sprite/sprite.svg#dish-washer'></use>
              </svg>
            </div>
            <div class="catalog-list__info">
              <a class="catalog-list__link" href="#">Посудомойки</a>
              <div class="catalog-list__sublinks">
                <a class="catalog-list__sublink" href="#">Встраиваемые</a>
              </div>
            </div>
          </li>
          <li class="catalog-list__item">
            <div class="catalog-list__img">
              <svg class="catalog-list__icon">
                <use xlink:href='img/sprite/sprite.svg#microwave'></use>
              </svg>
            </div>
            <div class="catalog-list__info">
              <a class="catalog-list__link" href="#">Микроволновые печи</a>
              <div class="catalog-list__sublinks">
                <a class="catalog-list__sublink" href="#">Встраиваемые</a>
              </div>
            </div>
          </li>
          <li class="catalog-list__item">
            <div class="catalog-list__img">
              <svg class="catalog-list__icon">
                <use xlink:href='img/sprite/sprite.svg#oven'></use>
              </svg>
            </div>
            <div class="catalog-list__info">
              <a class="catalog-list__link" href="#">Духовые шкафы</a>
              <div class="catalog-list__sublinks">
                <a class="catalog-list__sublink" href="#">электрические</a>
                <a class="catalog-list__sublink" href="#">газовые</a>
              </div>
            </div>
          </li>
          <li class="catalog-list__item">
            <div class="catalog-list__img">
              <svg class="catalog-list__icon">
                <use xlink:href='img/sprite/sprite.svg#kitchen-hood'></use>
              </svg>
            </div>
            <div class="catalog-list__info">
              <a class="catalog-list__link" href="#">Вытяжки</a>
              <div class="catalog-list__sublinks">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>