// переменная для шрифтов
$font: "Nunito", sans-serif;
$fontGilroy: "Gilroy", sans-serif;

// =========================

// переменные цветов
$colorAccent: #e53935;
$colorMain: #282739;
$colorWhite: #ffffff;
$colorGray: #5d6c7b;

// =========================
